# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
env/

# Django
*.sqlite3
media/
staticfiles/
static/
.env
.env.*

# Tests
.coverage
htmlcov/
.pytest_cache/
*/tests/

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp
*.swo

# Git
.git/
.gitignore
